---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=&maxResults=5&q=sun%20also%20rises&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 429,
            "message": "Quota exceeded for quota metric 'Queries' and limit 'Queries per day' of service 'books.googleapis.com' for consumer 'project_number:624717413613'.",
            "errors": [
              {
                "message": "Quota exceeded for quota metric 'Queries' and limit 'Queries per day' of service 'books.googleapis.com' for consumer 'project_number:624717413613'.",
                "domain": "global",
                "reason": "rateLimitExceeded"
              }
            ],
            "status": "RESOURCE_EXHAUSTED",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "RATE_LIMIT_EXCEEDED",
                "domain": "googleapis.com",
                "metadata": {
                  "quota_location": "global",
                  "quota_unit": "1/d/{project}",
                  "quota_limit_value": "20000000",
                  "consumer": "projects/624717413613",
                  "quota_metric": "books.googleapis.com/default",
                  "quota_limit": "defaultPerDayPerProject",
                  "service": "books.googleapis.com"
                }
              },
              {
                "@type": "type.googleapis.com/google.rpc.Help",
                "links": [
                  {
                    "description": "Request a higher quota limit.",
                    "url": "https://cloud.google.com/docs/quotas/help/request_increase"
                  }
                ]
              }
            ]
          }
        }
  recorded_at: Fri, 10 Apr 2026 19:10:07 GMT
[...]
