---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=51.519326,%20-0.074316&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"84\",\n               \"short_name\"
        : \"84\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Commercial Street\",\n               \"short_name\" : \"Commercial St\",\n
        \              \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"London\",\n               \"short_name\" : \"London\",\n               \"types\"
    [...]
