---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=51.519376063697386,%20-0.07432342790806311&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"10\",\n               \"short_name\"
        : \"10\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Puma Court\",\n               \"short_name\" : \"Puma Ct\",\n               \"types\"
        : \n               [\n                  \"route\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"London\",\n               \"short_name\"
        : \"London\",\n               \"types\" : \n              [...]
[...]
- request:
    method: post
    uri: http://127.0.0.1:9515/session/4154b0ee95a96536b5344b1dbd0d5a5a/url
    body:
      encoding: UTF-8
      string: '{"url":"http://localhost:51667/"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":null}'
  recorded_at: Tue, 02 Jun 2026 04:39:30 GMT
- request:
    method: post
    uri: http://127.0.0.1:9515/session/4154b0ee95a96536b5344b1dbd0d5a5a/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"./descendant::*[self::input | self::textarea][not(((((((./@type
        = ''submit'') or (./@type = ''image'')) or (./@type = ''radio'')) or (./@type
        = ''checkbox'')) or (./@type = ''hidden'')) or (./@type = ''file'')))][((((./@id
        = ''book-input'') or (./@name = ''book-input'')) or (./@placeholder = ''book-input''))
        or (./@id = //label[(normalize-space(string(.)) = ''book-input'')]/@for))]
        | .//label[(normalize-space(string(.)) = ''book-input'')]//./descendant::*[self::input
        | self::textarea][not(((((((./@type = ''submit'') or (./@type = ''image''))
        or (./@type = ''radio'')) or (./@type = ''checkbox'')) or (./@type = ''hidden''))
        or (./@type = ''file'')))]"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":[{"element-6066-11e4-a52e-4f735466cecf":"f.E4EF26352807DFE9FF11886D0FCE031A.d.4C9DE5B9600FD93BD40ECA14F9A378B3.e.124"}]}'
  recorded_at: Tue, 02 Jun 2026 04:39:30 GMT
- request:
    method: post
    uri: http://127.0.0.1:9515/session/4154b0ee95a96536b5344b1dbd0d5a5a/execute/sync
    body:
      encoding: UTF-8
      string: '{"script":"/* isDisplayed */return ((function(){function d(t,e,n){function
        r(t){var e=x(t);if(0<e.height&&0<e.width)return!0;if(\"PATH\"==t.tagName.toUpperCase()&&(0<e.height||0<e.width)){var
        n=window.getComputedStyle(t)[\"stroke-width\"];return!!n&&0<parseInt(n,10)}return\"hidden\"!=window.getComputedStyle(t).overflow&&Array.prototype.slice.call(t.childNodes).some(function(t){return
        t.nodeType==Node.TEXT_NODE||t.nodeType==Node.ELEMENT_NODE&&r(t)})}function
        i(t){return C(t)[...]
- request:
    method: post
    uri: http://127.0.0.1:9515/session/4154b0ee95a96536b5344b1dbd0d5a5a/execute/sync
    body:
      encoding: UTF-8
      string: '{"script":"return arguments[0].matches('':disabled, select:disabled
        *'')","args":[{"element-6066-11e4-a52e-4f735466cecf":"f.E4EF26352807DFE9FF11886D0FCE031A.d.4C9DE5B9600FD93BD40ECA14F9A378B3.e.124"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":false}'
  recorded_at: Tue, 02 Jun 2026 04:39:30 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:9515/session/4154b0ee95a96536b5344b1dbd0d5a5a/element/f.E4EF26352807DFE9FF11886D0FCE031A.d.4C9DE5B9600FD93BD40ECA14F9A378B3.e.124/value
    body:
      encoding: UTF-8
      string: '{"value":["t","e","n"," ","b","e","l","l","s"],"text":"ten bells"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":null}'
  recorded_at: Tue, 02 Jun 2026 04:39:30 GMT
- request:
    method: post
    uri: http://127.0.0.1:9515/session/4154b0ee95a96536b5344b1dbd0d5a5a/execute/sync
    body:
      encoding: UTF-8
      string: '{"script":"return nOL.pins[''6a1e5e7bbedf227d6918e49d''].map","args":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":null}'
  recorded_at: Tue, 02 Jun 2026 04:39:30 GMT
recorded_with: VCR 6.4.0
