---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=42.817466863494666,%20-1.6433493129083157&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"44\",\n               \"short_name\"
        : \"44\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Plaza del Castillo\",\n               \"short_name\" : \"Pl. del Castillo\",\n
        \              \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Pamplona\",\n               \"short_name\" : \"Pamplona\",\n               \"type[...]
[...]
