html {
  height: auto;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}

input {
  width: 225px;
}

#map-canvas {
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
}

#books-search-box {
  position: absolute;
  top: 4px;
  right: 338px;
}

#places-search-box {
  position: absolute;
  top: 4px;
  right: 106px;
}

@media print {
  #map-canvas {
    height: 950px;
  }
}
