body {
  font-size: 12pt;
}

input[type="button"] {
  -webkit-appearance: none;
}

#applesearch .sbox input {
  background: white;
  font-size: 12pt;
  height: 26px;
}

#book-input {
  width: 153px;
}

#mail-button {
  position: absolute;
  right: 0;
  top: 15px;
}

#place-input {
  width: 230px;
}

#toolbar {
  right: 123px;
  top: 5px;
}

#login-button {
  background-position: 0% -138px;
  font-size: 12pt;
  width: 97px;
  height: 26px;
}

#mode-button {
  font-size: 12pt;
  width: 131px;
  height: 26px;
}

#pin-display-button {
  font-size: 12pt;
  height: 26px;
  width: 118px;
}
