#book-input {
  width: 101px;
}

#mode-button {
  float: left;
  margin: 1px -1px;
}

#place-input {
  width: 153px;
}

#toolbar {
  position: absolute;
  right: 105px;
  top: 6px;
}

#applesearch {
  top: 6px;
}

#applesearch .sbox_l  {
	background: url('/images/srch_l.gif') no-repeat top left;
	float: left;
	width: 19px;
	height: 19px;
}

#applesearch .sbox_r  {
	background: url('/images/srch_r.gif') no-repeat top left;
	float: left;
	width: 19px;
	height: 19px;
}

#applesearch .sbox input {
	background: url('/images/srch_bg.gif') repeat-x top left;
	border: 0;
	padding: 3px;
	font: 11px/13px arial;
}
