body#blog{font-family:"Helvetica Neue",helvetica,arial,"Lucida Grande",sans-serif; font-size:14pt}
iframe#sample-novels{width:100%; height:500px}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	html{background-size:64px 64px}
  body#blog{font-size:24pt; margin:80pt}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body#blog{border-left:200px #3B5998 solid; margin:0; padding:25px}
}
